<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>EDGI Version Monitoring Bookmarklet</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-app="myApp" ng-controller="myController">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>EDGI Version Monitoring Bookmarklet</h1>

      <form onsubmit="return false;">
        <div class="form-group">
          <label for="days">Days since your last work session</label>
          <input type="text" class="form-control" id="days" ng-model="options.days" ng-change="updateBookmarklet(options)">

          <label for="name">Your name</label>
          <input type="text" class="form-control" id="name" ng-model="options.name" ng-change="updateBookmarklet(options)">
        </div>
      </form>

      <ul>
        <li ng-class="{'text-muted': !output}">Drag this link to your bookmarks bar: <a ng-href="{{ output }}">EDGI Version Monitoring Bookmarklet</a>.</li>
        <li>Open the web UI and navigate to a Site View. Click the bookmarklet.</li>
        <li>The bookmarklet will highlight pages that have changed since your last work session and that have multiple versions.</li>
        <li>Click the highlighted links to quickly jump to the page comparing the most recent version to the version you last saw.</li>
        <li>You'll need to enable popups when prompted by your browser.</li>
      </ul>

      <p>Do you use this bookmarklet? Do you have an idea to make it better? <a href="https://github.com/edgi-govdata-archiving/version-tracking-ui/issues">Share your feedback by creating an issue on GitHub.</a></p>

      <p ng-show>{{ error }}</p>
    </div>
  </div>
</div>

<textarea class="hidden" readonly ng-model="input"></textarea>

<script src="build/browser-tool.js"></script>

</body>
</html>
